<form [formGroup]="form">
    <h1>SatDatepicker features</h1>
    <section>
        <h3><a href="https://material.angular.io/components/datepicker/overview">Features from original datepicker</a>
        </h3>
        <mat-form-field>
            <input matInput
                   placeholder="Choose a date"
                   [satDatepicker]="picker3"
                   value="">
            <sat-datepicker #picker3>
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker3"></sat-datepicker-toggle>
        </mat-form-field>
    </section>
    <hr>
    <section>
        <h2>Range selection</h2>
        <div>
            <span class="code">rangeMode</span> option enables or disables range mode. Default is <span class="code">false</span>
        </div>
        <mat-form-field>
            <input matInput
                   placeholder="Choose a date"
                   [satDatepicker]="picker2"
                   formControlName="date">
            <sat-datepicker #picker2 [rangeMode]="true">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
        </mat-form-field>
    </section>
    <hr>
    <section>
        <h2>Close after selection</h2>
        <div>
            <span class="code">closeAfterSelection</span> option enables or disables datepicker closing after date
            selections. By
            default the option is <span class="code">true</span>
        </div>
        <mat-form-field>
            <input matInput
                   placeholder="Choose a date"
                   [satDatepicker]="picker"
                   formControlName="date">
            <sat-datepicker #picker [rangeMode]="true"
                            [closeAfterSelection]="false">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
        </mat-form-field>
    </section>
    <hr>
    <section>
        <h2>Calendar view order</h2>
        <div>
            <span class="code">orderPeriodLabel</span> option sorts the label period views.
            <ul>
                <li>Default [<span class="code">multi-year</span>]: multi-year then back to month
                </li>
                <li>Month [<span class="code">month</span>]: month > year > multi-year</li>
            </ul>
        </div>
        <mat-form-field>
            <input matInput
                   placeholder="Choose a date"
                   [satDatepicker]="picker4"
                   formControlName="date">
            <sat-datepicker #picker4 [rangeMode]="true"
                            orderPeriodLabel="month">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker4"></sat-datepicker-toggle>
        </mat-form-field>
    </section>
    <hr>
    <section>
            <h2>Select first date on close</h2>
            <div>
                <span class="code">selectFirstDateOnClose</span> option enables or disables the selection of the first date when closing
                the datepicker before selecting another date.
                By default the option is <span class="code">false</span>
            </div>
            <mat-form-field>
                <input matInput
                       placeholder="Choose a date"
                       [satDatepicker]="picker5"
                       formControlName="date">
                <sat-datepicker #picker5 [rangeMode]="true"
                                [selectFirstDateOnClose]="true">
                </sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
            </mat-form-field>
        </section>
        <hr>
    <section>
        <h2>Custom Footer (Default Ranges)</h2>
        <div>
            <span class="code">calendarFooterComponent</span> option allows you to define a footer in the calendar simalar to custom headers.
        </div>
        <mat-form-field>
            <input matInput
                    placeholder="Choose a date"
                    [satDatepicker]="picker6"
                    formControlName="date">
            <sat-datepicker #picker6 [rangeMode]="true"
                            panelClass="range-datepicker"
                            [calendarFooterComponent]="rangesFooter"
                            [selectFirstDateOnClose]="true">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker6"></sat-datepicker-toggle>
        </mat-form-field>
    </section>
    <hr>
    <section>
      <h2>Inline Usage</h2>
      <div>
          The <span class="code">sat-calendar</span> component with its <span class="code">dateRangesChange</span> output binding can be used as an inline range date picker.
      </div>
      <span class="code" *ngIf="inlineRange">
        {{ inlineRange.begin | date }}
        {{ inlineRange.end | date }}
      </span>
      <div class="inlineCalendarContainer">
        <sat-calendar [rangeMode]="true"
                      (dateRangesChange)="inlineRangeChange($event)"
                      [selected]="selectedDate">
        </sat-calendar>
      </div>
    </section>
    <hr>
</form>
